*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    font-size: 1.1em;
}

/*Root colors from project*/
:root {
    --color-background-calculator: #323232;
    --color-standard-white: #F8F8F8;
    --color-secondary: #74EBD5;
}

/*General Style*/
body {
    background-color: var(--color-standard-white);
}

.principal {
    background-image: url(../images/bg-illustration.png);
    background-size: 400px;
    background-position-y: 10%;
    background-position-x: 25%;
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 115px;
    text-align: right;
    color: var(--color-standard-white);
    font-size: 1.7rem;
    position: relative;
}
.results span {
    cursor: default;
    position: absolute;
    top: 40px;
}
.resultado, .show-calcs-maked{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.results p {
    justify-content: baseline;
    text-align: right;
    max-width: 93%;
}

.numbers { 
    word-break: break-all;

    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.Calcs {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.principal .container-calculator {
    width: 30%;
    max-width: 50%;
    background-color: var(--color-background-calculator);
    height: 90%;
    max-height: 550px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    /* padding: 40px; */
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: -5px 5px 8px rgba(0, 0, 0, 0.3);
}
.container-calculator .operandos {
    border-top: #74EBD5 solid 2px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    max-width: 100%;
    row-gap: .5em;
}
.operandos .buttons {
    background-color: unset;
    border: none;
    color: var(--color-background-calculator);
    background-image: url(../images/elipse-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    text-align: center;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    animation: 2s ease-in-out;
}
#buttonCalc {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-end: 5;
    background: #74EBD5;
    height: auto;
    border-radius: 50px;
}
.show-calc { 
    white-space: nowrap;
}
.buttons:active { 
    opacity: .9;
    border: 1px black solid;
    border-radius: 30px;
    transform: scale(0.9);
}
.operandos .unusual {
    background-image: url(../images/Ellipse-bg_especial.svg);

}

/*Media queries / screen adaptation*/
@media only screen and (width: 1280px) {
    .container-calculator { 
        height: 80vh;
    }
    .buttons { 
        width: 70px;
        height: 70px;
    }
    .operandos { 
        padding-top: 40px;
        row-gap: .9em;
    }
}

@media only screen and (max-width: 912px) {
    .principal { 
        background-size: 550px;
        background-position-y: 45%;
        background-position-x: 45%;
    }
    .principal .container-calculator { 
        width: 50%;
        max-width: 60%;
        height: 80%;
    }
    .operandos { 
        padding-top: 40px;
        row-gap: 1em;
    }
}

@media only screen and (width: 717px) { 
    .principal .container-calculator { 
        width: 60%;
        max-width: 90%;
        height: 90%;
    }
    .operandos .buttons { 
        width: 45px;
    height: 45px;
    }
}
@media only screen and (max-width: 575px) {
    .principal .container-calculator { 
        width: 70%;
        max-width: 70%;
        height: 80%;
    }
}
@media only screen and (width: 1024px) {
    .principal .container-calculator { 
        width: 50%;
        max-width: 70%;
        height: 90%;
    }
}

@media only screen and (max-width: 414px) {
    .principal { 
        background-size: 500px;
        background-position-y: 50%;
        background-position-x: 10%;
    }
    .principal .container-calculator {
        width: 90%;
        max-width: 90%;
        height: 80%;
    }
}

@media only screen and (max-width: 375px) {
    .container-calculator {
        width: 90vw;
        height: 80vh;
    }
    .operandos {
        column-gap: .5em;
        row-gap: .7em;
    }
}

@media only screen and (max-width: 280px) {
    .principal { 
        background-size: 400px;
        background-position-y: 50%;
        background-position-x: 5%;
    }
    .principal .container-calculator { 
        width: 90%;
    max-width: 80%;
        height: 60%;
    }
    .operandos .buttons {
        width: 30px;
        height: 30px;
        font-size: 1rem;
    }
    .operandos {
        column-gap: .5em;
        row-gap: .7em;
    }
}
